.slick-arrow {
  margin: 0 !important;
  margin-top: -20px !important;
  opacity: .6;
  width: 25px !important;
}

.slick-arrow.slick-prev {
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;  
}

.slick-arrow.slick-next {
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.video-carousel__video {
  width: 100%;
  height: 650px;
  border: 0;

  @media (max-width: 1024px) {
    height: 450px;
  }

  @media (max-width: 767px) {
    height: 250px;
  }
}